@use "colors";

$bg: rgba(colors.$background, 0.75);
$bg-selected: rgba(colors.$foreground, 0.85);
$border: colors.$color2;
$fg: colors.$foreground;
$fg-selected: colors.$background;

* {
  all: unset;
  font-family: "Inter Nerd Font";
  font-weight: bold;
  font-size: 18px;
  transition: color 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}

.barWindow {
  background-color: transparent;
}

.bar {
  margin: 0px 4px 4px 4px;
}

button,
.batteryIcon {
  min-width: 30px;
  min-height: 30px;
  color: $fg;
  border-radius: 5px;
}

button:hover {
  color: $fg-selected;
  background: $bg-selected;
}

.container,
tooltip {
  background-color: $bg;
  border: 1px solid $border;
  border-radius: 5px;
}

tooltip {
  padding: 0px 4px;
}

tooltip > * {
  border: 1px solid transparent;
}

.selectedWorkspace {
  border: 2px solid transparent;
  border-bottom-color: $bg-selected;
  margin: 4px 6px;
}

menu {
  padding: 4px;
  border: 1px solid $border;
  color: $fg;
  background: $bg;
  border-radius: 5px;
}

menuitem {
  border-radius: 5px;
  padding: 0px 4px;
}

menu > menuitem:disabled {
  color: colors.$color8;
}

menu > menuitem:hover {
  color: $fg-selected;
  background: $bg-selected;
}
